<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>exercise-collaborative</title>
    <link rel="stylesheet" href="./style.css">
    <link href="https://fonts.googleapis.com/css2?family=Brygada+1918&display=swap" rel="stylesheet">

</head>

<body>
    <div class="container1">
        <h1 class="title">This Firts Heading <span class="text-color">Will Catch Your Eye</span></h1>
        <div class="rounded">
            <img class="imagerounded" src="https://images7.alphacoders.com/679/679140.png" />
        </div>
        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
            some form, by injected humour, or randomised words which don't look even slightly believable</p>
    </div>
</body>

</html>