<!-- your html code here -->
<section class="container mt-5">
		<div class="header-portafolio">
			<h2>Portafolio</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing, elit. Dolore numquam sit illo natus sunt quod dignissimos laborum officiis, et praesentium officia autem, quaerat. Quaerat corporis, iste aperiam amet natus, tempora. Quaerat corporis, iste aperiam amet natus.</p>
		</div>
		<div class="row">
			<div class="col-md-4 mb-4">
				<div class="card border-0">
					<img src="./assets/img/big-project-image.png" class="card-img-top" alt="">
				  	<div class="card-body">
				    	<h5 class="card-title text-primary">Project Name</h5>
				    	<p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. In maiores, cumque error illum repellat, distinctio asperiores.</p>
				 	 </div>
				</div>
			</div>
			<div class="col-md-4 mb-4">
				<div class="card border-0">
					<img src="./assets/img/big-project-image.png" class="card-img-top" alt="">
				  	<div class="card-body">
				    	<h5 class="card-title text-primary">Project Name</h5>
				    	<p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. In maiores, cumque error illum repellat, distinctio asperiores.</p>
				 	 </div>
				</div>
			</div>
			<div class="col-md-4 mb-4">
				<div class="card border-0">
					<img src="./assets/img/big-project-image.png" class="card-img-top" alt="">
				  	<div class="card-body">
				    	<h5 class="card-title text-primary">Project Name</h5>
				    	<p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. In maiores, cumque error illum repellat, distinctio asperiores.</p>
				 	 </div>
				</div>
			</div>
		</div>
	</section>