<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tagline</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>

<body>
    <div class="conteiner-fluid">



        <div class="conteiner-fluid">

            <div class="conteiner mx-5 pt-5 " style="background-image:url(https://browser-teal-cat-vm3ajn07.ws-us03.gitpod.io/workspace/exercise-collaborative-html-website/website1/assets/img/bg.jpg); height:250px;background-repeat:no-repeat;
background-size:cover;
background-position:center center;">

                <h4 class="text-center bg-light fs-1 ">One Page Worder</h4>
                <h4 class="text-center bg-light fs-2">Will Knock Your Socks Off</h4>

            </div>


        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
            crossorigin="anonymous"></script>
</body>

</html>